VAPID_PUBLIC_KEY=BH7wiRULrw5FCzdDvldLjqwinulKD3sqHlKV5B4OWo6XPr0EocqImE3TzXrOMyywy0MK2aRt1sT5j8VCtm-k2z4
VAPID_PRIVATE_KEY=jzBxsBo5b_GaKCnQxC6IxE0VAM1s-jSCXiPAe0znSLI
VAPID_SUBJECT=mailto:ishfak349@gmail.com
DB_PASSWORD=